

<main>
   <div class="item-wrap">
       <div class="item-container" *ngIf="phone">
   
   <!-- Stack the columns on mobile by making one full-width and the other half-width -->
   <div class="row">
       <div class="col-6 col-md-4 img-box">
           <div> <h2 id="phonetxt">{{phone.brand}}</h2> 
                  <h2>{{phone.title}}</h2>
               <img class="center-image" [src]="phone.img">
           </div>
       </div>
   
       <div class="col-12 col-md-8">
   
   
         <div>
           <h2 id="memory">Memory</h2>
           <div class="fx-row">
             <button class="memory_btn selected">64 GB</button>
             <button class="memory_btn">128 GB</button>
             <button class="memory_btn">256 GB</button>
           </div>
           <div class="divider inset"></div>
   
   
         </div>
   
           <div class="colors">
               <h2 id="colortxt">Choose color</h2>
               <ul>
                   <li>
                     <label>
                       <input type="radio" name="color" value="black">
                       <span class="swatch" style="background-color:#222"></span>
                     </label>
                   </li>
                   <li>
                     <label>
                       <input type="radio" name="color" value="blue">
                       <span class="swatch" style="background-color:#6e8cd5"></span>
                     </label>
                   </li>
                   <li>
                     <label>
                       <input type="radio" name="color" value="silver">
                       <span class="swatch" style="background-color: rgb(160, 156, 156)"></span>
                     </label>
                   </li>
                   <li>
                     <label>
                       <input type="radio" name="color" value="green">
                       <span class="swatch" style="background-color:#44c28d"></span>
                     </label>
                   </li>
                 </ul> 
             </div>
   
             <!--Subscription Plan table starts here-->
             <div class="plan-table" style="background-color: white;">
               <table >
                   <tr id="table_header" ><th colspan="4" >Subscription Plans</th></tr>
   
                   <tr >
                     <th>
                         <div class="plan-name">Essential Plan</div>
                        <a class="more-link" href="plans">Read More</a>
                       
                       </th>
   
                       <th>
                         <div class="plan-name">Plus Plan</div>
                        <a class="more-link" href="plans">Read More</a>
                       
                       </th>
   
                       <th>
                         <div class="plan-name">Pro Plan</div>
                        <a class="more-link" href="plans">Read More</a>
                       
                       </th>
   
                       <th>
                         <div class="plan-name">Smart Plan</div>
                        <a class="more-link" href="plans">Read More</a>
                       
                       </th>
                   </tr>
   
                   <tr>
                     <td >
                         <div id="datatxt"><p>Free Data</p></div>
                         <div id="roamingtxt"><p>16 GB in the EU and the Baltikum</p></div>
                       </td>
   
                     <td>
                         
                       <div id="datatxt"><p>50 GB</p></div>
                       <div id="roamingtxt"><p>13 GB free in the EU and the Baltikum</p></div>
                   </td>
   
                     <td>
                       <div id="datatxt"><p>15 GB</p></div>
                       <div id="roamingtxt"><p>10 GB free in the EU and the Baltikum</p></div>                    
                   </td>
                     <td>
                         
                       <div id="datatxt"><p>6 GB</p></div>
                       <div id="roamingtxt"><p>6 GB free in the EU and the Baltikum</p></div>                
                   </td>
   
   
                   </tr>
                   <tr>
                   <td> <div><p>Free Talk + sms/mms <span>in the EU, Baltikum, USA, Turkey, Thailand</span></p></div></td>
                   <td> <div><p>Free Talk + sms/mms <span>in the EU, Baltikum, Scandinavia</span></p></div></td>
                   <td> <div><p>Free Talk + sms/mms <span>in the EU, Baltikum</span></p></div></td>
                   <td> <div><p>3 hours free Talk + sms/mms <span>in the EU, Baltikum, Scandinavia</span></p></div></td>
                   </tr>
                   <tr>
                      
                       <td>
                           <div id="pricetag"><p>249 kr/month</p></div>
                       </td>
   
                       <td>
                       <div id="pricetag"><p>199 kr/month</p></div>
                   </td>  
   
                        <td>
                       <div id="pricetag"><p>149 kr/month</p></div>
                   </td>  
   
                   <td>
                       <div id="pricetag"><p>79 kr/month</p></div>
                   </td>  
                     </tr>
                 </table>
             </div>
             <!--Subscription Plan ends here-->
   
           
       </div>
       
     </div>
     
     <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
     <div class="row">
       <div class="col-6 col-md-4" >
         <div>
           <h2 id="specificationtxt">Specifications</h2>
           <ul class="numberlist">
               <li><span>Camera:</span>{{phone.specification.camera}}</li>
               <li><span>Charging Times:</span>{{phone.specification.chargingtime}}</li>
               <li><span>Weight:</span>{{phone.specification.weight}}</li>
               <li><span>Screen Size:</span>{{phone.specification.screensize}}</li>
               <li><span>Data Connectivity:</span>{{phone.specification.dataconnectivity}}</li>
               <li><span>Battery:</span>{{phone.specification.battery}}</li>
               <li><span>Dimensions:</span>{{phone.specification.dimensions}}</li>
               <li><span>Operating System:</span>{{phone.specification.operatingsystem}}</li>
               <li><span>Processor:</span>{{phone.specification.processor}}</li>
               <li><span>Facial Recognition:</span>{{phone.specification.facialrecognition}}</li>
           </ul>
       </div>
   
       </div>
   
   
   
   
       <div class="col-12 col-md-8">
     
           <!--Summary Table starts here-->
   
           <div class="plan-table" style="background-color: white;">
             <table>
                 <tr id="table_header" ><th colspan="4" >Choose Payment --> risk-free interest rate</th></tr>
   
                 <tr >
                   <th>
                     <a href="#!" id="paymentduration">
                       <div class="label">12 months</div>
                       <div class="value">423 kr/month</div>
                     </a>
                     </th>
   
                     <th>
                       <a href="#!" id="paymentduration">
                         <div class="label">24 months</div>
                         <div class="value">214 kr/month</div>
                       </a>
                     
                     </th>
   
                     <th>
                       <a href="#" id="paymentduration">
                         <div class="label">36 months</div>
                         <div class="value">143 kr/month</div>
                       </a>
                     
                     </th>
   
                     <th>
                       <a href="#" id="paymentduration">
                         <div class="label">Pay as you Go</div>
                         <div class="value">{{phone.price}}</div>
                       </a>
                     </th>
                 </tr>
   
                 <tr>
                   <td colspan="4">
   
                     <div class="subscription-row">
   
                       <div class="column">
                         <div class="subscriptiontxt">
                         <div>Pay Now</div>
                       <div>Monthly Payment</div>
                       <div>Min. price (6 months)</div>
                       </div>
   
                       </div>
   
                       <div class="column"> 
                         <div class="subscriptionprice">
                         <div>1 kr</div>
                         <div>350 kr</div>
                         <div>{{phone.price}}</div>
                       </div>
                       </div>
   
                       <div class="column">
                         <div><button  
                          (click)="addItemToCart(phone.id, phone.quantity, phone.price, phone.name, phone.img)" class="buy_btn">Add to Cart</button></div>
                         <div id="instock">In Stock</div>
                       
                       </div>
                     </div>
                     </td>
                 </tr>
   
                 <tr>
                 <td colspan="2"> 
                   <div class="textstyle">
                     <div>{{phone.name}} without subscription plan:</div>
                     <div>Mobil discount:</div>
                     <div>{{phone.name}} 128 GB with subscription plan: </div>
                   </div>
   
                 </td>
   
                 <td colspan="2"> 
                   <div class="totalpricetxt">
                   <div>{{phone.price}}</div>
                   <div>674 kr</div>
                   <div>5125 kr</div>
                 </div>
   
                 </td>
                
                 </tr>
                 
               </table>
           </div>
           <!--Summary Table ends here-->
     
     
       
       </div>
     </div>
     
    
   </div>
   
   </div>
   
   <!--FAQ-->
   
   <div class="container demo">
   
     <h1>Got Question?</h1>
   
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
         <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingOne">
                 <h4 class="panel-title">
                     <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                       <i class="fa fa-plus"></i>
                       Does TELCO offer any other rate plans as a result of the merger with Sprint?
                     </a>
                 </h4>
             </div>
             <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                 <div class="panel-body"> 
                   Your whole family can talk, text, and surf on their smartphones without worrying about what they’ll pay. 
                   To support our price commitment, we may make other select rate plans available for customers who prefer the features of these older plans—the plans are available for a limited time as we continue to launch plans that are the same or better. 
                 </div>
             </div>
         </div>
   
         <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingTwo">
                 <h4 class="panel-title">
                     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                       <i class="fa fa-plus"></i>                 
                        Are there any taxes and fees not included with my Essential Plan?                  
                       </a>
                 </h4>
             </div>
             <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                 <div class="panel-body">
                   All applicable monthly regulatory fees and sales taxes on your plan are included with Magenta. This feature applies to your monthly service price. You may see separate taxes and/or fees on other things, for example:
                   Activities that aren’t part of your monthly service, such as buying extra data passes, late or restore fees, device upgrade support charges, calling from foreign countries, etc.
                   Device and accessory purchases, plus SIM starter kits, will continue to be taxed at time of purchase.
                 </div>
             </div>
         </div>
     </div>
   
         <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingThree">
                 <h4 class="panel-title">
                     <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                       <i class="fa fa-plus"></i>                     
                        What is Spotify on Us?                  </a>
                 </h4>
             </div>
             <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                 <div class="panel-body">
                   Through an exclusive partnership with Spotify, you can get our Essential plan with Spotify Basic included at no additional cost (up to 89 kr/mo.). 
   
                 </div>
             </div>
   
             <div class="panel panel-default">
               <div class="panel-heading" role="tab" id="headingFour">
                   <h4 class="panel-title">
                       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                         <i class="fa fa-plus"></i>
                         Will I automatically have Spotify included on my plan? Do I have to change my TELCO plan to get it?
                       </a>
                   </h4>
               </div>
               <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                   <div class="panel-body"> 
                     If you have two or more Essential or Plus voice lines, a Spotify on us feature will automatically be available on your account, In order to get the Spotify on Us feature, you'll need to opt into it.
                   </div>
               </div>
           </div>
   
           <div class="panel panel-default">
             <div class="panel-heading" role="tab" id="headingFive">
                 <h4 class="panel-title">
                     <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                       <i class="fa fa-plus"></i>
                         How do I opt in to get Spotify at no additional charge? How does it work?                  
                       </a>
                 </h4>
             </div>
             <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                 <div class="panel-body"> 
                   If you’re an existing customer, visit MyTelco.com, a retail store, or call Customer Care to activate. 
                   If you’re a new customer, simply visit a TELCO store, go to TELCO.com. 
                   You’ll be given a URL to link your TELCO account with your Spotify account. TELCO covers the cost of Spotify Basic, up to 89kr, for you. 
                   For existing Spotify customers, it may take 1-2 Spotify billing cycles for your Spotify billing to transfer to TELCO.
                 </div>
             </div>
         </div>
   
     </div><!-- panel-group -->
     
     
   </div>
   
   
   </main>