.banner {
  max-height: 50px;
  background-color: #add8e6;
}

.banner-inner {
  padding: 15px;
  text-align: center;
}

.item-wrap {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

.center_image {
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
}

.fx-row {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  margin: 20px 20px 20px 50px;
}

.memory_btn {
  width: 15%;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  padding: 0.2rem 1rem;
  text-decoration: none;
  height: 50px;
}

button.selected {
  border-color: #e20074;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.divider {
  border-top-color: #e8e8e8;
  border-top-width: 2px;
  border-top-style: solid;
  width: 50%;
  margin-left: 50px;
  margin-top: 30px;
}

#memory {
  margin: 100px 20px 20px 50px;
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#phonetxt {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}

.colors {
  margin: 20px 20px 20px 50px;
  min-height: 50px;
  width: 95%;
}

#colortxt {
  margin: 5px;
}

.colors ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.colors li {
  margin: 0 20px 0 0;
  display: inline-block;
}

.colors label {
  cursor: pointer;
  margin: 5px;
}

.colors input {
  display: none;
}

.colors input[type="radio"]:checked + .swatch {
  box-shadow: inset 0 0 0 2px white;
}

.swatch {
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  width: 30px;
  margin: 0 5px 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 50px;
}

.plan-table {
  margin: 20px 20px 20px 50px;
}

table,
th,
td {
  border: 1px solid lightskyblue;
  text-align: center;
}
th,
td {
  padding: 10px;
}

#table_header {
  height: 50px;
  background: linear-gradient(
    0deg,
    rgba(80, 80, 228, 1) 0%,
    rgba(13, 19, 71, 1) 100%
  );
  color: white;
  font-size: 1.25em;
  letter-spacing: 0.8px;
}

.plan-name {
  font-size: 1.25em;
  text-transform: uppercase;
}

table {
  width: 100%;
  table-layout: fixed;
  box-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
}

td {
  width: 25%;
}

tr {
  height: 75px;
}

.more-link {
  font-size: small;
  font-weight: 400;
}

#datatxt {
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: bold;
  letter-spacing: 0.6px;
}

#roamingtxt {
  font-size: 0.8em;
}

#pricetag {
  font-weight: bold;
  font-size: 1em;
  letter-spacing: 0.6px;
}

span {
  font-size: 0.8em;
}

.column {
  float: left;
  width: 33.33%;
}

.subscription-row::after {
  content: "";
  display: table;
  clear: both;
}

/*FAQ*/

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eeeeee;
}

.panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background: #03254c;
  border-color: #eeeeee;
}

.panel-title {
  font-size: 14px;
}

.panel-title > a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
}

.fa-plus {
  float: right;
  color: white;
  font-size: 1.5em;
  padding: 3px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eeeeee;
}

.demo {
  padding-top: 60px;
  padding-bottom: 60px;
}

.panel-body {
  background-color: white;
  margin-top: 0;
  color: #03254c;
  padding: 10px;
  line-height: 1.4;
}

h1 {
  font-size: 3em;
  margin: 1em;
  text-align: center;
}

/*Numbered list*/

.numberlist ul {
  counter-reset: li;
  list-style: none;
  font: 15px;
  padding: 0;
  margin-bottom: 4em;
}
.numberlist ul ul {
  margin: 0 0 0 2em;
}

.numberlist li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #fff;
  color: #444;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}

.numberlist li:hover {
  background: #cbe7f8;
}
.numberlist li:before {
  content: "";
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: #87ceeb;
  height: 2.5em;
  width: 2.5em;
  line-height: 2em;
  border: 0.3em solid #fff;
  text-align: center;
  font-weight: bold;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  border-radius: 2em;
  color: #fff;
}

#specificationtxt {
  text-align: center;
}

/*Payment Table*/

.subscriptiontxt,
.subscriptionprice {
  font-size: 1.2em;
  font-weight: bold;
  line-height: 2;
}

.subscriptiontxt {
  text-align: left;
  margin-left: 20px;
}

.subscriptionprice {
  text-align: right;
  margin-right: 20px;
}

.textstyle {
  text-align: left;
  margin-left: 20px;
  line-height: 1.8;
}

.totalpricetxt {
  text-align: right;
  line-height: 1.8;
  margin-right: 30px;
}

.buy_btn {
  width: 40%;
  height: 50px;
  border-radius: 5px;
  border-color: #ff0090;
  background-color: #ff0090;
  color: white;
  font-size: 1.5em;
  margin: 20px;
  margin-left: 80px;
}

#instock {
  margin-left: 80px;
  font-weight: bold;
  color: #3ded97;
  font-size: 1em;
}

.label {
  font-size: 1.3em;
  font-weight: 300;
  line-height: 1.5;
  color: navy;
}

.value {
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 500;
  color: #e20074;
}
