


<div class="wrapper">

    <div class="container" *ngFor="let plan of plan$">

           

            <form>

          <div class="row" *ngFor="let item of plan.linespeed; let i = index;">
              <div class="col-sm-6">
                <label>
                  <input type="radio" name="internet" class="card-input-element" [(ngModel)]="radioSelected" value="{{plan.linespeed[i].name}}" (change)="onItemChange(plan.linespeed.name)"/>
                    <div class="card panel-default card-input">
                      <div class="row">
                        <div class="col-auto"><div class="card-title">{{plan.linespeed[i].name}}</div></div>
                       <div class="col-auto ml-auto">
                        <div class="card-title">{{plan.linespeed[i].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                      </div>
                      </div>
                     
                      <div class="divider"></div>
                      <div class="card-subtitle">{{plan.linespeed[i].speed}}</div>
                      <ul>
                        <li>No set-up fee</li>
                        <li>No binding</li>
                      </ul>
                    </div>
                </label>
              </div>
            </div>

                      <h1> You have selected: <b>{{radioSelected}}</b></h1>
                  
                
                  


                    <div *ngIf="radioSelected">
                      
                  
                      <div>

                        <h1>Would You like to add IP-TV to your package?</h1>
                        <input type="radio" name="tv" value="yes" [(ngModel)]="tvchoice" ><label>Yes, I'd love to </label>
                        <input type="radio" name="tv" value="no" [(ngModel)]="tvchoice"><label>No, thanks, I'm fine</label>

                        <div *ngIf="tvchoice == 'yes'">

                        <h2>Select a TV-package: </h2>

                        <div class="row">

                          <div class="col-sm-6" *ngFor="let item of plan.tvpackage; let i = index;">
                      
                            <label>
                              <input type="radio" name="tvpackage" class="card-input-element" [(ngModel)]="radioSelected" value="{{plan.tvpackage[i].name}}" (change)="onItemChange(plan)"/>
                    
                                <div class="card panel-default card-input">
                                  <div class="row">
      
                                    <div class="col-auto">
                                      <div class="card-title">{{plan.tvpackage[i].name}}</div>
                                    </div>
                                   <div class="col-auto ml-auto">
                                    <div class="card-title">{{plan.tvpackage[i].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                                  </div>
                                  </div>
                                 
                                  <div class="divider"></div>
                                
                                  <ul>
                                    <li>No set-up fee</li>
                                    <li>No binding</li>
      
                                  </ul>
                                </div>
                    
                            </label>
                            
                          </div>

                        </div>

                      </div>
                      </div>
                    
                    </div>
                   
                    <div *ngIf="radioSelected">

                      <h1>You can add more options if you'd like:</h1>
                      <div class="row">

                        <div class="col-sm-6" *ngFor="let item of plan.tvoption; let i = index;">
                      
                          <label>
                            <input type="radio" name="tvoption" class="card-input-element" [(ngModel)]="radioSelected" value="{{plan.tvoption[i].name}}" (change)="onItemChange(plan)"/>
                  
                              <div class="card panel-default card-input">
                                <div class="row">
    
                                  <div class="col-auto">
                                    <div class="card-title">{{plan.tvoption[i].name}}</div>
                                  </div>
                                 <div class="col-auto ml-auto">
                                  <div class="card-title">{{plan.tvoption[i].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                                </div>
                                </div>
                               
                                <div class="divider"></div>
                               
                                <ul>
                                  <li>No set-up fee</li>
                                  <li>No binding</li>
    
                                </ul>
                              </div>
                  
                          </label>
                          
                        </div>

                     
                      </div>

                    </div>

                    <div *ngIf="radioSelected">

                      <h1>How about an IP-Telephony package?</h1>

                      <div class="row">

                        <div class="col-sm-4" *ngFor="let item of plan.iptelephony; let i = index;">
                      
                          <label>
                            <input type="radio" name="iptelephony" class="card-input-element" [(ngModel)]="radioSelected" value="{{plan.iptelephony[i].name}}" (change)="onItemChange(plan)"/>
                  
                              <div class="card panel-default card-input">
                                <div class="row">
    
                                  <div class="col-auto">
                                    <div class="card-title">{{plan.iptelephony[i].name}}</div>
                                  </div>
                                 <div class="col-auto ml-auto">
                                  <div class="card-title">{{plan.iptelephony[i].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                                </div>
                                </div>
                               
                                <div class="divider"></div>
  
                                <ul>
                                  <li>No set-up fee</li>
                                  <li>No binding</li>
    
                                </ul>
                              </div>
                  
                          </label>
                          
                        </div>


                      </div>

                      <div>

                        <h1>Shop other products, see our latest deals here</h1>
                        <button>Go to the shop</button>
                      </div>


                    </div>
                

          
            </form>
             
</div>    
       
</div>