.container {
  width: 100%;
  background-color: palevioletred;
}

.card-input-element + .card {
  height: 200px;
  color: #1f1fbd;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 1px 1px 2px white, 0 0 25px lightgray, 0 0 5px #aaaaaa;
  padding: 30px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.divider {
  border: solid 0.4px lightblue;
  margin: 10px 0;
}

.card-title {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
}

.card-body {
  padding: 0.5rem;
}

.card-subtitle {
  font-weight: 500;
  color: #d30c5c;
  margin: 20px 0;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  line-height: 1.5;
  color: black;
}

.card-input-element:checked + .card::after {
  content: "\e5ca";
  color: #afb8ea;
  font-family: "Material Icons";
  font-size: 36px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
  padding: 00px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px lightblue;
}

.col-3 {
  background-color: #afb8ea;
}
