.container {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-input-element + .card {
  height: 200px;
  color: #1f1fbd;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 1px 1px 2px white, 0 0 25px lightgray, 0 0 5px #aaaaaa;
  padding: 30px;
}

.card-input-element + .card:hover {
  cursor: pointer;
}

.divider {
  border: solid 0.4px lightblue;
  margin: 10px 0;
}

.card-title {
  display: inline-block;
  font-size: 1.25em;
  font-weight: 600;
}

.card-body {
  padding: 0.5rem;
}

.card-subtitle {
  font-weight: 500;
  color: #d30c5c;
  margin: 5px 0;
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding-inline-start: 0px;
  line-height: 1.5;
  color: #0f52ba;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 500;
}

.card-input-element:checked + .card::after {
  content: "\e5ca";
  color: #ff0090;
  font-family: "Material Icons";
  font-size: 36px;
  -webkit-animation-name: fadeInCheckbox;
  animation-name: fadeInCheckbox;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes fadeInCheckbox {
  from {
    opacity: 0;
    -webkit-transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotateZ(0deg);
  }
}

@keyframes fadeInCheckbox {
  from {
    opacity: 0;
    transform: rotateZ(-20deg);
  }
  to {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}

label {
  width: 100%;
}

.card-input-element {
  display: none;
}

.card-input {
  margin: 10px;
}

.card-input:hover {
  cursor: pointer;
}

.card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px lightblue;
}

.price-summary {
  height: 425px;
  border: 2px solid transparent;
  border-radius: 4px;
  box-shadow: 1px 1px 2px white, 0 0 25px lightgray, 0 0 5px #aaaaaa;
  padding: 30px;
  position: relative;
  background-color: white;
  margin: 10px;
}

.question_txt {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  background-color: navy;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
  color: white;
  width: 100%;
}

.icon {
  margin-left: 170px;
  font-size: 2rem;
  color: white;
}

.yesno {
  margin-right: 20px;
}

.select_txt {
  font-family: "Hammersmith One", sans-serif;
  font-weight: 300;
  background-color: lightblue;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin: 10px;
  width: 100%;
}

.input_div {
  margin: 20px;
}

.cart_btn {
  width: 80%;
  position: absolute;
  top: 80%;
  left: 10%;
  height: 50px;
  color: white;
  background-color: #ff0090;
  border-color: #ff0090;
  font-size: 1.5em;
}

.price-summary-title {
  font-size: 1.5em;
  font-weight: 600;
  color: #1f1fbd;
}
