


<div class="wrapper">

    <div class="container" *ngFor="let plan of plan$">

           

            <form>

              
                <div class="row">
                  
                    <div class="col-sm-6">
                      
                      <label>
                        <input type="radio" name="product" class="card-input-element" />
              
                          <div class="card panel-default card-input">
                            <div class="row">

                              <div class="col-auto">
                                <div class="card-title">{{plan.linespeed[0].name}}</div>
                              </div>
                             <div class="col-auto ml-auto">
                              <div class="card-title">{{plan.linespeed[0].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                            </div>
                            </div>
                           
                            <div class="divider"></div>
                            <div class="card-subtitle">
                              {{plan.linespeed[0].speed}}
                            </div>
                            <ul>
                              <li>No set-up fee</li>
                              <li>No binding</li>

                            </ul>
                          </div>
              
                      </label>
                      
                    </div>


                    <div class="col-sm-6">
                      
                      <label>
                        <input type="radio" name="product" class="card-input-element" />
              
                          <div class="card panel-default card-input">
                            <div class="row">

                              <div class="col-auto">
                                <div class="card-title">{{plan.linespeed[1].name}}</div>
                              </div>
                             <div class="col-auto ml-auto">
                              <div class="card-title">{{plan.linespeed[1].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                            </div>
                            </div>
                           
                            <div class="divider"></div>
                            <div class="card-subtitle">
                              {{plan.linespeed[1].speed}}
                            </div>
                            <ul>
                              <li>No set-up fee</li>
                              <li>No binding</li>

                            </ul>
                          </div>
              
                      </label>
                      
                    </div>

                    <div class="col-sm-6">
                      
                      <label>
                        <input type="radio" name="product" class="card-input-element" />
              
                          <div class="card panel-default card-input">
                            <div class="row">

                              <div class="col-auto">
                                <div class="card-title">{{plan.linespeed[2].name}}</div>
                              </div>
                             <div class="col-auto ml-auto">
                              <div class="card-title">{{plan.linespeed[2].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                            </div>
                            </div>
                           
                            <div class="divider"></div>
                            <div class="card-subtitle">
                              {{plan.linespeed[2].speed}}
                            </div>
                            <ul>
                              <li>No set-up fee</li>
                              <li>No binding</li>

                            </ul>
                          </div>
              
                      </label>
                      
                    </div>

                    <div class="col-sm-6">
                      
                      <label>
                        <input type="radio" name="product" class="card-input-element" />
              
                          <div class="card panel-default card-input">
                            <div class="row">

                              <div class="col-auto">
                                <div class="card-title">{{plan.linespeed[3].name}}</div>
                              </div>
                             <div class="col-auto ml-auto">
                              <div class="card-title">{{plan.linespeed[3].price}}<span>&#44;</span><span>&#45;</span><span>&#47;</span>md</div>
                            </div>
                            </div>
                           
                            <div class="divider"></div>
                            <div class="card-subtitle">
                              {{plan.linespeed[3].speed}}
                            </div>
                            <ul>
                              <li>No set-up fee</li>
                              <li>No binding</li>

                            </ul>
                          </div>
              
                      </label>
                      
                    </div>



                </div>
                

          
            </form>
             
</div>    
       
</div>