<!-- Footer -->
<footer class="page-footer sticky-bottom font-small blue pt-4" >

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div  class="col-md-3 mb-md-0 mb-3">
  
          <!-- Content -->
          <h5 class="title">Subscription</h5>
          <div class="dropdown-divider"></div>
          <ul id="foot_list">
            <li id="link-text"><a id="foot_link" href="#">Mobile Phone Subscription</a></li>
            <li id="link-text"><a id="foot_link" href="#">Mobile Internet</a></li>
              <li id="link-text"><a id="foot_link" href="#">Internet</a></li>
                <li id="link-text"><a id="foot_link" href="#" >TV</a></li>
                  <li id="link-text"><a id="foot_link" href="#" >Tablet</a></li>
                  </ul>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="title">Mobile and Tablets</h5>
          <div class="dropdown-divider"></div>
          <ul id="foot_list">
            <li id="link-text"><a id="foot_link" href="#">Mobile Phones</a></li>
              <li id="link-text"><a id="foot_link" href="#" >Tablets</a></li>
                <li id="link-text"><a id="foot_link" href="#">iPhone 12</a></li>
                  <li id="link-text"><a id="foot_link" href="#" >iPhone SE</a></li>
                    <li id="link-text"><a id="foot_link" href="#" >Guides</a></li>
                      <li id="link-text"><a id="foot_link" href="#" >Special Offers</a></li>
                      </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="title">Help</h5>
          <div class="dropdown-divider"></div>
          <ul id="foot_list">
            <li id="link-text"><a id="foot_link" href="#">My Telco</a></li>
              <li id="link-text"><a id="foot_link" href="#">International Prices</a></li>
                <li id="link-text"><a id="foot_link" href="#">Coverage and service</a></li>
                  <li id="link-text"><a id="foot_link" href="#">Speedtest</a></li>
                    <li id="link-text"><a id="foot_link" href="#">Guides</a></li>
                      <li id="link-text"><a id="foot_link" href="#">Quick Support</a></li>
                        <li id="link-text"><a id="foot_link" href="#">Shops and opening hours</a></li>
                        </ul>
  
        </div>
        <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
  
            <!-- Links -->
            <h5 class="title">About Telco</h5>
            <div class="dropdown-divider"></div>
          <ul id="foot_list">
            <li id="link-text"><a id="foot_link" href="#">About Telco Denmark</a></li>
            <li id="link-text"><a id="foot_link" href="#">Press and News</a></li>
              <li id="link-text"><a id="foot_link" href="#">5G</a></li>
                <li id="link-text"><a id="foot_link" href="#">Sustainability</a></li>
                  <li id="link-text"><a id="foot_link" href="#">Carrier</a></li>
                    <li id="link-text"><a id="foot_link" href="#">Quick Support</a></li>
                      <li id="link-text"><a id="foot_link" href="#">Shops and opening hours</a></li>
                      </ul>
    
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
  <!-- Copyright -->
  
  <div class="footer-copyright text-center py-3">
    <div class="footer-social">
      <i class="fa fa-facebook-square"></i>
      <i class="fa fa-youtube-square"></i>
      <i class="fa fa-twitter-square"></i>
      <i class="fa fa-instagram"></i>
    </div>    
   
  </div>
  <!-- Copyright -->

    <!-- Copyright -->
    <div class="footer-policy text-center py-3">
     
      <a href="#"> Terms <span>&#38;</span>Conditions<span class="menu-pipe">|</span></a>
      <a href="#"> Privacy Policy<span class="menu-pipe">|</span></a>   
      <a href="#"> Cookie Policy<span class="menu-pipe">|</span></a>  
      <a href="#"> Privacy Policy<span class="menu-pipe">|</span></a> 
      <a href="#"> Claim management<span class="menu-pipe">|</span></a> 
      <a href="#"> Contact Us<span class="menu-pipe">|</span></a> 
      <a href="#"> Sponsorship<span class="menu-pipe">|</span></a> 
      <a href="#"> News <span>&#38;</span>PR</a>

    </div>
    <!-- Copyright -->

    <div class="footer-copyright text-center py-3">
      © 2020 Copyright:
      <a href="#"> TelcoCompany.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->


