.page-footer{
    background: linear-gradient(180deg,#23236A 0,#107AC0 100%);
}

.container-fluid{
    display: grid;
    grid-template-columns: 1200px;
    align-content: center;
    padding-left: 150px;
  }

.title{
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 8px;
    color: white;
    font-size: 1.25rem;
    line-height: 1.35rem;
}

#foot_list{
    padding: 0; 
    list-style: none;
  }
  
  #link-text{
    padding: 0;
  }
  
  #foot_link{
    color: white;
    padding: 5px 2px 2px 0;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
  }

.row{
    padding: 50px;
}

.col-md-3{
    padding-left: 50px;
    
}

.fa{
    padding:0 20px 0 20px;
    color: whitesmoke;
    font-size: 3em;
}


a{
    color: #dcdcdc;
    font-family: 'Hindi',sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
}

.menu-pipe{
    padding: 2px;
}






