$main-color: #6394f8;
$light-text: #abb0be;

body {
  font: 14px/22px "Lato", Arial, sans-serif;
}

nav {
  padding: 20px 0 40px 0;
  background: #00008b;
  font-size: 16px;
  position: relative;
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

ul li {
  display: inline;
  padding-left: 20px;
}

a {
  color: whitesmoke;
  text-decoration: none;

  &:hover {
    color: black;
  }
}

.container-fluid {
  display: grid;
  grid-template-columns: 900px;
  padding-left: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.title {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
  color: #00008b;
  font-size: 1rem;
  line-height: 1rem;
}

.dropdown-divider {
  border: solid 0.4px lightblue;
}

a:active {
  color: #abb0be;
}

#nav-list {
  padding: 0;
  list-style: none;
}

#nav-text {
  padding: 0;
}

#link {
  color: #6686df;
  padding: 5px 2px 2px 0;
  font-size: 0.9em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: static !important;
  display: inline-block;
}

#shopDropdown {
  position: static !important;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 1%;
}

#myDropdown {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  width: 100%;
  position: absolute;
  right: 0;
  top: 70%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.cart {
  margin: 20px 0;
  float: right;
  width: 500px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
}

.badge {
  background-color: #6394f8;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.cart-icon {
  font-size: 1.5rem;
  color: whitesmoke;
  display: inline-block;
}

.cart-header {
  border-bottom: 1px solid #e8e8e8;
}

#carttext {
  font-family: Roboto;
  font-size: 24px;
  text-align: center;
}

.total-label {
  float: left;
}

.pricetag {
  float: right;
}

.cart-total {
  margin: 20px 10px;
}

.shopping-cart-items {
  padding: 20px;

  li {
    margin-bottom: 18px;
  }

  img {
    float: left;
    margin-right: 15px;
    width: 75px;
  }

  .item-name {
    display: block;
    padding: 10px;
    font-size: 16px;
  }

  .item-price {
    color: $main-color;
    margin-right: 8px;
    margin: 0 15px;
    float: right;
  }

  .item-quantity {
    color: $light-text;
    margin: 15px 0 15px;
  }

  #minicart_icon {
    font-size: 1em;
    margin-left: 25px;
    pointer-events: cursor;
  }
}

.checkout_btn {
  width: 100%;
  height: 2.5em;
  background-color: #6394f8;
  color: white;
  border-color: #6394f8;
  border-radius: 2px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
