  <section class="top section content">
  
  
  <!--Banner-->
  <div class="banner">
     <div class="banner-inner">
      <span style="font-weight: bold;" >Order by midnight for free next-working-day delivery</span>
      <i class="fa fa-times" ></i>
  </div>
  </div>
  
  <!--Carousel-->
  
  <carousel></carousel>
  
   
  </section>
  
  <!--Shop Navigation Tiles-->
  <div class="container-title">
  <mat-grid-list cols="3" rowHeight="150px" style="height: 450px;" gutterSize="15px">
  
      <button class="btn_tile" routerLink="/phones" routerLinkActive="active"><mat-grid-tile><img src="../../assets/img/Phones.png"></mat-grid-tile></button>
      <button class="btn_tile" routerLink="/phones" routerLinkActive="active"><mat-grid-tile><img src="../../assets/img/Tablet.png"></mat-grid-tile></button>
      <button class="btn_tile" routerLink="/phones" routerLinkActive="active"><mat-grid-tile><img src="../../assets/img/SIM.png"></mat-grid-tile></button>
      <button class="btn_tile" routerLink="/phones" routerLinkActive="active"><mat-grid-tile><img src="../../assets/img/Internet.png"></mat-grid-tile></button>
      <button class="btn_tile" routerLink="/phones" routerLinkActive="active"><mat-grid-tile><img src="../../assets/img/Accessories.png"></mat-grid-tile></button>
      <button class="btn_tile" routerLink="/phones" routerLinkActive="active"><mat-grid-tile><img src="../../assets/img/offers.png"></mat-grid-tile></button>
     
  </mat-grid-list>
  </div>
  
  <!--Features with icons-->
  <div class="feature-box text-center">
  <ul id="feature-list">
      <li class="icon"><mat-icon aria-hidden="false" aria-label="wifi">wifi</mat-icon>Hyperfast 4G in the whole EU</li>
      <li class="icon"><mat-icon aria-hidden="false" aria-label="shipping">local_shipping</mat-icon>Free shipping over 300 kr.</li>
      <li class="icon"><mat-icon aria-hidden="false" aria-label="shopping cart">payments</mat-icon>Pay rentfree over 36 months</li>
  </ul>
  </div>
  
  <!--Grid Tiles for marketing-->
  <div class="wrapper">
      <mat-grid-list cols="2" rowHeight="3:2" gutterSize="25px">
      
         <mat-grid-tile>
           <div class="btn-container">
           <img src="../../assets/img/Mobile Phones.png">
           <h1>Would you like a new phone?</h1> 
           <h2>Then come and take a look</h2>
          
           <button class="btn">Peek</button>
          </div>
          
          </mat-grid-tile>
  
  
         <mat-grid-tile>
          <div class="btn-container">
          <img src="../../assets/img/background.png">
          <h1 id="apple-text">Or a headphone?</h1> 
          <h2>Then come and take a look</h2>
          <img src="../../assets/img/apple-airpods-2019-white-sku-header.png" id="apple">
          <div class="circle"><p id="new">NEW</p></div>
          
          <button class="btn">Peek</button>
        </div>
        </mat-grid-tile>
  
         <mat-grid-tile>
          <div class="btn-container"> 
          <img src="../../assets/img/background.png">
          <h1 id="apple-text">Would you like a new mobile?</h1> 
          <h2>Then come and take a look</h2>
          <img src="../../assets/img/apple-airpods-2019-white-sku-header.png" id="apple">
          <div class="circle"><p id="new">NEW</p></div>
          <button class="btn">Peek</button>
        </div>
        </mat-grid-tile>
  
  
         <mat-grid-tile>
          <div class="btn-container"> 
          <img src="../../assets/img/marketing.png">
          <h1>Hey You want some Mobile?</h1> 
          <h2>Then come and take a look</h2>
          <button class="btn">Peek</button>
        </div>
        </mat-grid-tile>
         
         
      </mat-grid-list>
      </div>
  
      <!--Product carousel-->
      <app-showcase></app-showcase>

