
<header>

      <!--Banner-->
<div class="banner">
    <div class="banner-inner">
     <span style="font-weight: bold;" >Want to chat before you buy? We are here for you, just give us a call on 2363526845</span>
     <i class="fa fa-times" id="x"></i>
  </div>
  </div>

<!--Top content with search bar-->
<section class="box">
    <img class="img w-100" src="../../assets/img/Cover.png">
    <h1 id="subscription">Mobile Subscripton Plans</h1>
</section>
</header>

<body>


<!--Subscription Cards-->

<div class="wrapper">
  

    <article>
      <div class="text">
        <img src="../../../assets/img/plantxt.png">
        <button class="demo_btn" routerLink="/plandetails" routerLinkActive="active">Read more</button>
      </div>
      <div class="image"><img src="../../../assets/img/Demotel all in one.png"></div>
      <div class="text">
        <img src="../../../assets/img/quad.png">
        <button class="quad_btn" routerLink="/plandetails" routerLinkActive="active">Read more</button>
      </div>
      <div class="image">
        <img src="../../../assets/img/quadruple.png">
        
      </div>
      
  </article>

 


</div>

</body>