.box {
  //background: linear-gradient(0deg, rgba(80,80,228,1) 0%, rgba(13,19,71,1) 100%);
  //margin-bottom: 100px;
  min-height: 300px;
  // position: relative;
}

.banner {
  max-height: 50px;
  background-color: #add8e6;
}

.banner-inner {
  padding: 15px;
  text-align: center;
}

#x {
  font-size: 1rem;
  margin-left: 100px;
  color: #ffffff;
}

img {
  background-size: cover;
  position: relative;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 30%;
}

.wrapper {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

article {
  display: grid;
  grid-template-columns: 1;
  grid-auto-rows: minmax(100px, auto);
  row-gap: 50px;
}

.text {
  background: linear-gradient(
    0deg,
    rgba(215, 227, 250, 1) 0%,
    rgba(100, 149, 237, 1) 100%
  );
  height: 450px;
}
.image {
  height: 450px;
  object-fit: cover;
}
.text:nth-of-type(3) {
  background: linear-gradient(
    0deg,
    rgba(215, 227, 250, 1) 0%,
    rgba(100, 149, 237, 1) 100%
  );
}

@media screen and (min-width: 1025px) {
  article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .text:nth-of-type(3) {
    grid-column: 2;
    grid-row: 2;
  }
}
