
<header>

      <!--Banner-->
<div class="banner">
    <div class="banner-inner">
     <span style="font-weight: bold;" >Want to chat before you buy? We are here for you, just give us a call on 2363526845</span>
     <i class="fa fa-times" id="x"></i>
  </div>
  </div>

<!--Top content with search bar-->
<section class="box">
    <img class="img w-100" src="../../assets/img/Cover.png">
    <h1>Mobile Subscripton Plans</h1>
</section>
</header>

<body>


<!--Subscription Cards-->

<div class="wrapper">
    <mat-grid-list cols="4" rowHeight="3:4" gutterSize="15px">
    
       <mat-grid-tile>
         <div class="plan">
         <div><h3>Essential Plan</h3></div>
         <div id="cardtitle"> <p >Free Talk</p> </div>
         <div id="datatext"> <p >30 GB</p></div>
         <div id="pricetag"><p><span style="font-size: 3em;">249</span> kr/month</p></div>
         <div><button>Read More</button></div>
        
        </div>
        </mat-grid-tile>


       <mat-grid-tile>
        <div class="plan">
        <div><h3>Plus Plan</h3></div>
        <div id="cardtitle"> <p >Free Talk</p> </div>
        <div id="datatext"> <p >50 GB</p></div>
        <div id="pricetag"><p><span style="font-size: 3em;">199</span> kr/month</p></div>
        <div><button>Read More</button></div>

      </div>
      </mat-grid-tile>

       <mat-grid-tile>
        <div class="plan"> 
            <div><h3>Pro  Plan</h3></div>
            <div id="cardtitle"> <p >Free Talk</p> </div>
        <div id="datatext"> <p >Free Data</p></div>
        <div id="pricetag"><p><span style="font-size: 3em;">249</span> kr/month</p></div>
        <div><button>Read More</button></div>
        

      </div>
      </mat-grid-tile>


       <mat-grid-tile>
        <div class="plan"> 
            <div><h3>Super Smart Plan</h3></div>
            <div id="cardtitle"> <p >Free Talk</p> </div>
            <div id="datatext"> <p >Free Data</p></div>
            <div id="pricetag"><p><span style="font-size: 3em;">299</span> kr/month</p></div>
            <div><button>Read More</button></div>

      </div>
      </mat-grid-tile>
    </mat-grid-list>
    </div>

<!--Arrow element-->

<div class="chevron-container">
  <div class="chevron"></div>
  <div class="chevron"></div>
  <div class="chevron"></div>
</div>

<!-- DIRTY Responsive pricing table HTML -->

<article>

    <ul>
      <li class="bg-purple">
        <button >Essential</button>
      </li>
      <li class="bg-blue">
        <button>Plus</button>
      </li>
      <li class="bg-blue active">
        <button>Pro</button>
      </li>
      <li class="bg-blue">
        <button>Super Smart</button>
      </li>
    </ul>  
    
    <table>
      <thead>
        <tr>
          <th class="hide"></th>
          <th class="bg-purple">Essential</th>
          <th class="bg-blue">Plus</th>
          <th class="bg-blue default">Pro</th>
          <th class="bg-blue">Super Smart</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monthly price</td>
          <td><span class="txt-top">&pound;</span><span class="txt-l">6</span></td>
          <td><span class="txt-top">&pound;</span><span class="txt-l">7</span></td>
          <td class="default"><span class="txt-top">&pound;</span><span class="txt-l">15</span></td>
          <td><span class="txt-top">&pound;</span><span class="txt-l">25</span></td>
        </tr>
        <tr>
          <td colspan="5" class="sep">Get started easily</td>
        </tr>
        <tr>
          <td>Includes free updates and new features as they become available</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>No software to install — sign up online in moments</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Import customer & supplier details from Excel, Outlook and .csv</td>
          <td></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Accept card payments in QuickBooks Online</td>
          <td></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td colspan="5" class="sep">Stay protected and get support</td>
        </tr>
        <tr>
          <td>Free telephone and online support</td>
          <td></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Strong encryption protects your business data</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
        <tr>
          <td>Automatic data backups</td>
          <td><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
          <td class="default"><span class="tick">&#10004;</span></td>
          <td><span class="tick">&#10004;</span></td>
        </tr>
      </tbody>
    </table>
      
    </article>

</body>