.box {
  background: rgb(80, 80, 228);
  background: linear-gradient(
    0deg,
    rgba(80, 80, 228, 1) 0%,
    rgba(13, 19, 71, 1) 100%
  );
  margin-bottom: 50px;
  min-height: 200px;
  position: relative;
}

.box h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-top: 70px;
  font-size: 50px;
}

/*banner*/

.banner {
  max-height: 50px;
  background-color: #add8e6;
}

.banner-inner {
  padding: 15px;
  text-align: center;
}

#x {
  font-size: 1rem;
  margin-left: 100px;
  color: #ffffff;
}

/*Shopping cart container*/

.wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
}
.container-fluid {
  width: 90%;
}

td {
  width: 200px;
}

.summary {
  max-width: 20%;
  margin-left: 5%;
  float: right;
  position: relative;
  background-color: white;
}

.fa-times {
  font-size: 1.75em;
  position: absolute;
  top: 10%;
  right: 5%;
}

.quantity {
  position: absolute;
  right: 5%;
}

.quantity input {
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

/*img container*/

.product-img {
  width: 100px;
  height: 100px;
  flex: 0 0 120px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

img {
  vertical-align: middle;
  width: 100px;
}

.product-img img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: auto;
  height: auto;
}

/*product title grid*/
.product-title {
  flex: 1 1 auto;
  width: 200px;
  margin-left: 20px;
}

.heading {
  font-size: 18px;
  padding-top: 10px;
}

h3 {
  display: block;
  font-size: 1.17em;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-weight: 500;
}

.col {
  width: 120px;
  font-size: 1.2em;
  padding-top: 50px;
  text-align: right;
}

#feature {
  display: inline-flex;
  float: left;
  margin-right: 20px;
}

#totalprice {
  font-size: 1.5em;
  font-weight: 400;
}

#subtotal {
  font-weight: 500;
  font-size: 1.25em;
}

.btn_delete {
  background-color: #d30c5c;
  color: white;
  border-color: #d30c5c;
  padding: 5px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
}

/*Order Summary grid*/

.vertical {
  border-left: 1px solid black;
  height: 80px;
  position: absolute;
  left: 53%;
}

#today {
  float: right;
  line-height: 2;
}

#monthly {
  float: left;
  line-height: 2;
  padding-right: 15px;
}

.checkout_btn {
  width: 70%;
  position: absolute;
  top: 70%;
  left: 15%;
  height: 60px;
  color: white;
  background-color: #ff0090;
  border-color: #ff0090;
}

.pricetxt {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: left;
}

.price-total {
  padding: 0;
  margin: 0;
}

.price {
  text-align: left;
  font-size: 2em;
  font-weight: bold;
}

.goback_btn {
  width: 50%;
  height: 60px;
  color: white;
  background-color: navy;
  border-color: navy;
  font-size: 1.5em;
  border-radius: 3px;
}
