<!--Banner-->
<div class="banner">
  <div class="banner-inner">
    <span style="font-weight: bold;">Want to chat before you buy? We are here for you, just give us a call on
      2363526845</span>
    <i class="fa fa-times" id="x"></i>
  </div>
</div>

<!-- Header -->
<section class="box">
  <h1>Your Cart</h1>
</section>
<!-- End -->

<div class="wrapper" >
  <div class="container-fluid"  >


    <div class="row">
  
      <section  >
        <div class="spacer" >
              <div class="col-lg-9" >

            <div class="row mt-5"  >
                <div class="row shop-listing" >
                <table class="table shop-table"  *ngIf = "carts">
                    <tr>
                      <th class="b-0">Product</th>
                      <th class="b-0">Name</th>
                      <th class="b-0">Price</th>
                      <th class="b-0">Quantity</th>
                    </tr>
                    <tr *ngFor= "let item of carts" >
                      <td><img [src] = "item.img"></td>
                      <td style="width: 250px;">{{item.name}}</td>
                      <td>{{item.price | currency: 'DKK': 'symbol' : '1.0-0'}}</td>
                      <td>
                        <button class="btn btn-primary btn-sm" (click)="increment_quantity(item.id, item.quantity,item.name, item.price, item.img)" >+</button> 
                      {{item.quantity}}                      
                        <button class="btn btn-primary btn-sm" (click)="decrement_quantity(item.id, item.quantity,item.name, item.price, item.img)">-</button>
                      </td>
                     
                      <button class="btn_delete "   (click)="deleteItem(item.id)" >Remove</button>
                    </tr>
                    <tr>
                      <td colspan="2"><button class="goback_btn" routerLink="/shop" routerLinkActive="active">Go Back To Shop</button></td>
                      <td colspan="5" id="totalprice" align="right">Total Price :<span id="subtotal"> {{SubtotalPrice() | currency: 'DKK' : 'symbol' : '1.0-0'}}</span></td>
                      <td colspan="4" align="right">
                       
                      </td>
                    </tr>
                  </table>
                </div>
              </div>


          </div>
        </div>
      </section>
      
      <!--Summary Box starts-->
      <div class="col summary p-5 bg-grey rounded shadow ">

        <div id="monthly">
          <div class="pricetxt">Due Monthly</div>
          <div class="price">299 kr</div>
        </div>

        <div class="vertical"></div>

        <div id="today">
          <div class="pricetxt">Due Today</div>
          <div class="price">399 kr</div>
        </div>

        <button class="checkout_btn" routerLink="/checkout" routerLinkActive="active">Start Checkout</button>
      </div>

      <!--Summary Box Ends-->
    </div>
    </div>
  </div>